<div class="footer">
    <ul>
        <li class="nav-button">
            <a href="https://www.linkedin.com/in/scott-collier-13169921a/">
                <svg
                    class="sidebar-icon"
                    viewBox="0 0 20 20"
                    width="20"
                    height="20"
                    id="li-logo"
                >
                    <path
                        d="M 4.3478261,20 H 0 V 6.3636364 H 4.3478261 Z M 2.1747826,4.5454545 C 0.97217392,4.5454545 0,3.5263636 0,2.2718182 0,1.0172727 0.97391305,0 2.1747826,0 c 1.1982609,0 2.1730435,1.0190909 2.1730435,2.2718182 0,1.2545454 -0.9747826,2.2736363 -2.1730435,2.2736363 z M 20,20 h -4.18 v -6.636364 c 0,-1.582727 -0.0287,-3.6181814 -2.173043,-3.6181814 -2.176522,0 -2.511305,1.7236364 -2.511305,3.5036364 V 20 H 6.9565218 V 6.3536364 h 4.0121742 v 1.8645454 h 0.05652 C 11.583478,7.1454546 12.947826,6.0145455 14.982609,6.0145455 19.217391,6.0145455 20,8.8409091 20,12.515455 20,12.515455 20,20 20,20 Z"
                        id="path2"
                        style="stroke-width: 1"
                    /></svg
            ></a>
        </li>

        <li>
            <div class="footer-border"></div>
        </li>

        <li class="nav-button">
            <a href="https://github.com/ScottHCollier">
                <svg
                    viewBox="0 0 20 20"
                    width="40"
                    height="40"
                    class="sidebar-icon"
                    id="github-logo"
                >
                    <path
                        d="m 8.8594816,0.06921528 c -4.6,0.5 -8.29999996,4.20000002 -8.79999996,8.70000002 -0.4999999,4.6999997 2.19999996,8.8999997 6.29999996,10.4999997 0.3,0.1 0.6,-0.1 0.6,-0.5 v -1.6 c 0,0 -0.4,0.1 -0.9,0.1 -1.4,0 -2,-1.2 -2.1,-1.9 -0.1,-0.4 -0.3,-0.7 -0.6,-1 -0.3,-0.1 -0.4,-0.1 -0.4,-0.2 0,-0.2 0.3,-0.2 0.4,-0.2 0.6,0 1.1,0.7 1.3,1 0.5,0.8 1.1,1 1.4,1 0.4,0 0.7,-0.1 0.9,-0.2 0.1,-0.7 0.4,-1.4 1,-1.8 -2.3,-0.5 -4,-1.8 -4,-3.9999997 0,-1.1 0.5,-2.2 1.2,-3 -0.1,-0.2 -0.2,-0.7 -0.2,-1.4 0,-0.4 0,-1 0.3,-1.6 0,0 1.4,0 2.8,1.3 0.5,-0.2 1.2,-0.3 1.9,-0.3 0.7000004,0 1.4000004,0.1 2.0000004,0.3 1.3,-1.3 2.8,-1.3 2.8,-1.3 0.2,0.6 0.2,1.2 0.2,1.6 0,0.8 -0.1,1.2 -0.2,1.4 0.7,0.8 1.2,1.8 1.2,3 0,2.1999997 -1.7,3.4999997 -4,3.9999997 0.6,0.5 1,1.4 1,2.3 v 2.6 c 0,0.3 0.3,0.6 0.7,0.5 3.7,-1.5 6.3,-5.1 6.3,-9.3 0,-5.9999997 -5.1,-10.69999972 -11.1000004,-9.99999972 z"
                        id="path2"
                    /></svg
            ></a>
        </li>
    </ul>
</div>
