<nav>
    <div class="logo">SC</div>
    <div class="navbar">
        <ul>
            <li class="cv nav-button">
                <a
                    href="https://drive.google.com/file/d/11anfQhuwZLOmoFBxhmeydJa_WWu4RGzP/view?usp=sharing"
                >
                    <svg
                        width="12"
                        height="16"
                        viewBox="0 0 7.9374999 9.2837258"
                        id="dl"
                    >
                        <g
                            inkscape:label="Layer 1"
                            inkscape:groupmode="layer"
                            id="layer1"
                            transform="translate(-26.046111,-78.829556)"
                        >
                            <path
                                id="rect20"
                                style="
                                    stroke: none;
                                    stroke-width: 3.81;
                                    stroke-miterlimit: 4;
                                    stroke-dasharray: none;
                                "
                                d="m 29.643291,78.829556 c -0.261038,0 -0.471194,0.210157 -0.471194,0.471195 v 4.300288 h -1.277329 c -0.491393,-5.81e-4 -0.207295,0.541069 0,0.748364 l 1.773871,1.773871 c 0.0965,0.0965 0.220417,0.148038 0.346222,0.154689 0.125805,-0.0067 0.249718,-0.05819 0.346221,-0.154689 l 1.773872,-1.773871 c 0.207294,-0.207295 0.491393,-0.748945 0,-0.748364 h -1.277356 v -4.300288 c 0,-0.261038 -0.21013,-0.471195 -0.471167,-0.471195 z"
                            />
                            <path
                                id="path901"
                                style="stroke-width: 0.264999"
                                d="m 26.509649,85.585271 c -0.256887,0 -0.463538,0.206651 -0.463538,0.463538 v 1.04283 0.408761 0.149345 c 0,0.256887 0.206651,0.463537 0.463538,0.463537 h 0.149861 0.159681 6.551537 0.149345 c 0.256887,0 0.463538,-0.20665 0.463538,-0.463537 V 87.5004 87.091639 86.048809 c 0,-0.256887 -0.206651,-0.463538 -0.463538,-0.463538 h -0.309025 c -0.256887,0 -0.464054,0.206651 -0.464054,0.463538 v 0.429431 h -1.333769 l -1.052132,1.052132 c -0.0965,0.0965 -0.220427,0.147813 -0.346232,0.154513 -0.125805,-0.0067 -0.249732,-0.05801 -0.346232,-0.154513 L 28.617013,86.47824 h -1.334285 v -0.429431 c 0,-0.256887 -0.206651,-0.463538 -0.463537,-0.463538 z"
                            />
                        </g>
                    </svg>
                </a>
            </li>
            <li class="contact nav-button">
                <div class="contact-wrapper">
                    <a href="mailto:scott.h.collier@gmail.com"></a>
                </div>
            </li>
        </ul>
    </div>
</nav>
