<div class="project-card">
    <div class="preview">
        <div class="img-wrapper">
            <img
                src="https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80"
                alt=""
            />
        </div>

        <div class="button-row">
            <a class="card-button">See Live</a>
            <a class="card-button">View Code</a>
        </div>
    </div>
    <div class="details">
        <div class="text">
            <h3>PROJECT TITLE</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Voluptatibus obcaecati delectus similique aperiam doloremque in,
                incidunt est illo quisquam quae natus odio fugiat alias tempora
                molestiae fuga beatae quos corrupti.
                <br />
                <br />
                This app features:
                <br />
                - Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                <br />
                - Voluptatibus obcaecati delectus similique aperiam doloremque
                in, incidunt est illo quisquam quae natus odio fugiat alias
                tempora molestiae fuga beatae quos corrupti.
                <br />
                - Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                <br />
                - Voluptatibus obcaecati delectus similique aperiam doloremque
                in, incidunt est illo quisquam quae natus odio fugiat alias
                tempora molestiae fuga beatae quos corrupti.
                <br />
                <br />
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            </p>
        </div>
        <div class="tech-stack">
            <svg viewBox="0 0 12 26" width="24" height="52" class="mongo">
                <path
                    fill="#dcedc8"
                    d="m 5,18 h 2 v 8 H 5 Z"
                    id="path862"
                    style="fill: #b3b3b3"
                />
                <path
                    fill="#4caf50"
                    d="m 6,0 c 0,0 -6,5 -6,13 0,5.2 3.3,8.5 5,10 l 1,-3 1,3 C 8.7,21.5 12,18.2 12,13 12,5 6,0 6,0 Z"
                    id="path864"
                    style="fill: #ececec"
                />
                <path
                    fill="#81c784"
                    d="M 6,0 C 6,0 0,5 0,13 0,18.2 3.3,21.5 5,23 L 6,20 Z"
                    id="path866"
                    style="fill: #ffffff"
                />
            </svg>
            <svg
                fill="#000000"
                viewBox="0 0 50.002106 37.478264"
                width="50.002106"
                height="37.478264"
                class="sass"
            >
                <path
                    d="m 43.031047,21.54203 c -1.747,0.009 -3.261,0.429 -4.53,1.054 -0.464,-0.926 -0.934,-1.741 -1.013,-2.347 -0.092,-0.707 -0.199,-1.129 -0.088,-1.972 0.111,-0.843 0.599,-2.036 0.591,-2.125 -0.007,-0.089 -0.109,-0.518 -1.117,-0.526 -1.008,-0.007 -1.87,0.194 -1.972,0.46 -0.102,0.266 -0.296,0.865 -0.416,1.49 -0.177,0.914 -2.012,4.174 -3.055,5.879 -0.341,-0.666 -0.631,-1.252 -0.691,-1.716 -0.092,-0.707 -0.199,-1.129 -0.088,-1.972 0.111,-0.843 0.599,-2.036 0.591,-2.125 -0.007,-0.089 -0.109,-0.518 -1.117,-0.526 -1.008,-0.007 -1.87,0.194 -1.972,0.46 -0.102,0.266 -0.21,0.888 -0.416,1.49 -0.207,0.602 -2.647,6.039 -3.286,7.448 -0.326,0.718 -0.609,1.295 -0.809,1.689 -10e-4,-10e-4 -10e-4,-0.002 -10e-4,-0.002 0,0 -0.012,0.026 -0.034,0.071 -0.171,0.335 -0.273,0.521 -0.273,0.521 0,0 0.001,0.003 0.003,0.007 -0.136,0.246 -0.281,0.475 -0.353,0.475 -0.05,0 -0.151,-0.656 0.022,-1.555 0.363,-1.886 1.235,-4.828 1.227,-4.929 -0.004,-0.052 0.162,-0.564 -0.57,-0.833 -0.711,-0.26 -0.965,0.174 -1.03,0.175 -0.063,10e-4 -0.11,0.153 -0.11,0.153 0,0 0.793,-3.308 -1.512,-3.308 -1.44,0 -3.436,1.576 -4.42,3.004 -0.62,0.338 -1.948,1.063 -3.357,1.837 -0.541,0.297 -1.093,0.601 -1.617,0.89 -0.036,-0.039 -0.071,-0.079 -0.108,-0.118 -2.7939999,-2.981 -7.9579999,-5.089 -7.7389999,-9.096 0.08,-1.457 0.586,-5.293 9.9239999,-9.9460004 7.649,-3.812 13.773,-2.763 14.831,-0.438 1.512,3.321 -3.273,9.4940004 -11.216,10.3840004 -3.027,0.339 -4.62,-0.834 -5.017,-1.271 -0.417,-0.46 -0.479,-0.481 -0.635,-0.394 -0.254,0.141 -0.093,0.547 0,0.789 0.237,0.617 1.21,1.712 2.87,2.256 1.46,0.479 5.013,0.742 9.311,-0.92 4.813,-1.862 8.571,-7.0410004 7.468,-11.3700004 -1.123,-4.40300002 -8.423,-5.85 -15.332,-3.396 -4.112,1.461 -8.5629999,3.754 -11.7639999,6.747 C 0.40504713,11.49603 -0.20095287,14.59403 0.04904713,15.88803 c 0.889,4.6 7.22799997,7.595 9.76699997,9.815 -0.125,0.069 -0.243,0.134 -0.35,0.193 -1.273,0.63 -6.105,3.159 -7.314,5.831 -1.37099997,3.031 0.218,5.206 1.271,5.499 3.26,0.907 6.6059999,-0.725 8.4039999,-3.407 1.798,-2.681 1.578,-6.172 0.753,-7.766 -0.01,-0.02 -0.022,-0.039 -0.032,-0.059 0.329,-0.195 0.664,-0.392 0.996,-0.587 0.648,-0.38 1.284,-0.735 1.836,-1.036 -0.309,0.846 -0.535,1.86 -0.653,3.325 -0.138,1.721 0.567,3.945 1.49,4.82 0.406,0.385 0.895,0.394 1.205,0.394 1.074,0 1.564,-0.893 2.103,-1.95 0.662,-1.296 1.249,-2.804 1.249,-2.804 0,0 -0.737,4.075 1.271,4.075 0.731,0 1.467,-0.949 1.795,-1.432 0.001,0.005 0.001,0.008 0.001,0.008 0,0 0.019,-0.031 0.056,-0.095 0.076,-0.116 0.119,-0.19 0.119,-0.19 0,0 0.002,-0.008 0.004,-0.021 0.294,-0.51 0.946,-1.674 1.924,-3.594 1.263,-2.48 2.475,-5.586 2.475,-5.586 0,0 0.113,0.76 0.482,2.015 0.217,0.739 0.679,1.556 1.043,2.339 -0.293,0.407 -0.473,0.64 -0.473,0.64 0,0 0.002,0.004 0.005,0.012 -0.234,0.311 -0.497,0.646 -0.772,0.974 -0.997,1.188 -2.185,2.544 -2.344,2.936 -0.187,0.461 -0.143,0.801 0.219,1.073 0.264,0.199 0.735,0.23 1.227,0.197 0.896,-0.06 1.527,-0.283 1.838,-0.418 0.485,-0.171 1.05,-0.441 1.58,-0.831 0.978,-0.719 1.568,-1.748 1.512,-3.111 -0.031,-0.751 -0.271,-1.495 -0.574,-2.198 0.089,-0.128 0.178,-0.256 0.267,-0.387 1.542,-2.255 2.738,-4.732 2.738,-4.732 0,0 0.113,0.76 0.482,2.015 0.187,0.636 0.556,1.329 0.887,2.009 -1.45,1.178 -2.349,2.547 -2.662,3.445 -0.577,1.661 -0.125,2.414 0.723,2.585 0.384,0.078 0.927,-0.098 1.335,-0.271 0.508,-0.168 1.118,-0.449 1.688,-0.868 0.978,-0.719 1.919,-1.726 1.862,-3.089 -0.026,-0.62 -0.194,-1.236 -0.422,-1.828 1.229,-0.512 2.821,-0.797 4.848,-0.56 4.349,0.508 5.202,3.223 5.039,4.359 -0.163,1.137 -1.075,1.761 -1.38,1.95 -0.305,0.189 -0.398,0.254 -0.372,0.394 0.037,0.204 0.178,0.196 0.438,0.152 0.358,-0.06 2.283,-0.924 2.366,-3.022 0.104,-2.658 -2.448,-5.583 -6.968,-5.559 z m -33.5179999,11.3 c -1.44,1.571 -3.453,2.165 -4.316,1.665 -0.932,-0.54 -0.563,-2.854 1.205,-4.521 1.077,-1.016 2.468,-1.952 3.391,-2.529 0.2099999,-0.126 0.5179999,-0.312 0.8929999,-0.537 0.062,-0.035 0.097,-0.055 0.097,-0.055 l -10e-4,-0.002 c 0.072,-0.043 0.147,-0.088 0.223,-0.134 0.643,2.374 0.02,4.464 -1.4919999,6.113 z m 10.4929999,-7.134 c -0.502,1.223 -1.552,4.352 -2.191,4.184 -0.549,-0.144 -0.883,-2.523 -0.11,-4.863 0.389,-1.178 1.22,-2.586 1.709,-3.133 0.786,-0.879 1.652,-1.167 1.862,-0.81 0.269,0.454 -0.955,3.855 -1.27,4.622 z m 8.67,4.137 c -0.213,0.111 -0.408,0.181 -0.498,0.127 -0.067,-0.04 0.088,-0.186 0.088,-0.186 0,0 1.084,-1.167 1.512,-1.698 0.248,-0.309 0.537,-0.676 0.85,-1.086 0.003,0.041 0.004,0.082 0.004,0.122 -0.004,1.398 -1.354,2.341 -1.956,2.721 z m 6.679,-1.523 c -0.159,-0.113 -0.132,-0.478 0.389,-1.614 0.205,-0.446 0.672,-1.198 1.485,-1.916 0.094,0.295 0.152,0.578 0.15,0.842 -0.011,1.759 -1.266,2.416 -2.024,2.688 z"
                    id="path886"
                    style="fill: #ffffff"
                />
            </svg>
            <svg
                fill="#000000"
                viewBox="0 0 46.019001 42.015705"
                width="46.019001"
                height="42.015705"
                class="react"
            >
                <g
                    id="g1460"
                    style="fill: none; stroke: #ffffff"
                    transform="translate(-1.9905,-3.9810009)"
                >
                    <path
                        fill="none"
                        stroke="#000000"
                        stroke-linejoin="round"
                        stroke-miterlimit="10"
                        stroke-width="2"
                        d="m 25,21 a 4,4 0 1 0 0,8 4,4 0 1 0 0,-8 z"
                        id="path879"
                        style="fill: none; stroke: #ffffff"
                    />
                    <path
                        fill="none"
                        stroke="#000000"
                        stroke-width="2.043"
                        d="m 24.97,16.393 a 22.534,8.593 0 1 0 0,17.186 22.534,8.593 0 1 0 0,-17.186 z"
                        transform="rotate(-60,24.97,24.986)"
                        id="path881"
                        style="fill: none; stroke: #ffffff"
                    />
                    <path
                        fill="none"
                        stroke="#000000"
                        stroke-width="2.019"
                        d="m 47,24.593 c 0,4.743 -9.858,8.593 -22,8.593 -12.142,0 -22,-3.85 -22,-8.593 C 3,19.85 12.858,16 25,16 c 12.142,0 22,3.85 22,8.593 z"
                        id="path883"
                        style="fill: none; stroke: #ffffff"
                    />
                    <path
                        fill="none"
                        stroke="#000000"
                        stroke-width="2"
                        d="m 24.98,2.48 a 8.593,22.534 0 1 0 0,45.068 8.593,22.534 0 1 0 0,-45.068 z"
                        transform="rotate(-30,24.978,25.015)"
                        id="path885"
                        style="fill: none; stroke: #ffffff"
                    />
                </g>
            </svg>
            <svg
                fill="#000000"
                viewBox="0 0 24 26"
                width="48"
                height="52"
                class="node"
            >
                <g id="g861" style="fill: #ffffff" transform="translate(-4,-3)">
                    <path
                        d="M 26.96,9 17.04,3.27 c -0.63,-0.36 -1.46,-0.36 -2.09,0 L 5.04,8.99 C 4.4,9.36 4,10.06 4,10.8 v 10.38 c 0,0.75 0.4,1.44 1.04,1.81 l 2.6,1.5 c 1.26,0.62 1.71,0.62 2.28,0.62 1.87,0 2.94,-1.13 2.94,-3.09 V 11.31 c 0,-0.16 -0.13,-0.29 -0.29,-0.29 h -1.25 c -0.17,0 -0.29,0.13 -0.29,0.29 v 10.7 c 0,0.88 -0.91,1.74 -2.38,1.01 L 5.93,21.45 C 5.83,21.4 5.77,21.29 5.77,21.18 V 10.81 c 0,-0.12 0.06,-0.22 0.16,-0.28 l 9.91,-5.72 c 0.09,-0.06 0.21,-0.06 0.31,0 l 9.91,5.72 c 0.1,0.06 0.16,0.16 0.16,0.27 v 10.38 c 0,0.11 -0.06,0.22 -0.15,0.27 l -9.92,5.73 c -0.09,0.05 -0.22,0.05 -0.31,0 l -2.55,-1.51 c -0.07,-0.05 -0.17,-0.06 -0.24,-0.02 -0.71,0.4 -0.84,0.45 -1.5,0.68 -0.16,0.05 -0.41,0.15 0.09,0.43 l 3.31,1.96 c 0.32,0.18 0.68,0.28 1.04,0.28 0.37,0 0.73,-0.1 1.05,-0.28 l 9.92,-5.73 C 27.6,22.62 28,21.93 28,21.18 V 10.81 C 28,10.06 27.6,9.37 26.96,9 Z"
                        id="path845"
                        style="fill: #ffffff"
                    />
                    <path
                        d="m 24,18.595 c 0,2.16 -1.8,3.4 -4.94,3.4 -4.34,0 -5.25,-1.99 -5.25,-3.66 0,-0.15 0.12,-0.28 0.28,-0.28 h 1.29 c 0.14,0 0.26,0.1 0.28,0.24 0.19,1.3 0.77,1.96 3.4,1.96 2.09,0 2.98,-0.47 2.98,-1.57 0,-0.64 -0.25,-1.12 -3.5,-1.44 -2.72,-0.27 -4.4,-0.87 -4.4,-3.04 0,-2 1.69,-3.2 4.52,-3.2 3.18,0 4.75,1.11 4.95,3.47 0.01,0.09 -0.02,0.17 -0.07,0.22 -0.06,0.06 -0.13,0.1 -0.21,0.1 h -1.29 c -0.14,0 -0.25,-0.1 -0.28,-0.23 -0.31,-1.37 -1.07,-1.81 -3.1,-1.81 -2.28,0 -2.55,0.79 -2.55,1.39 0,0.72 0.31,0.93 3.4,1.33 3.04,0.41 4.49,0.98 4.49,3.12 z"
                        id="path847"
                        style="fill: #ffffff"
                    />
                </g>
            </svg>
            <svg
                fill="#000000"
                viewBox="0 0 42 42"
                width="42"
                height="42"
                class="javascript"
            >
                <path
                    d="M 39.334,0 H 2.667 C 1.196,0 0,1.196 0,2.667 V 39.333 C 0,40.804 1.196,42 2.667,42 H 39.333 C 40.804,42 42,40.804 42,39.334 V 2.667 C 42,1.196 40.804,0 39.334,0 Z M 23,32.182 C 23,36.18 20.656,38 17.234,38 14.142,38 11.91,35.927 11,34 l 3.143,-1.903 C 14.75,33.173 15.673,34 17,34 c 1.269,0 2,-0.496 2,-2.426 V 19 h 4 z M 31.677,38 C 28.133,38 26.12,36.213 25,34 l 3,-2 c 0.818,1.335 1.707,2.614 3.589,2.614 1.581,0 2.411,-0.79 2.411,-1.882 0,-1.308 -0.858,-1.772 -2.598,-2.533 L 30.448,29.79 c -2.753,-1.173 -4.583,-2.643 -4.583,-5.749 0,-2.862 2.18,-5.04 5.588,-5.04 2.426,0 4.17,0.844 5.427,3.055 l -2.971,1.908 c -0.654,-1.173 -1.36,-1.635 -2.456,-1.635 -1.118,0 -1.826,0.709 -1.826,1.635 0,1.145 0.709,1.608 2.346,2.317 l 0.954,0.409 C 36.17,28.079 38,29.496 38,32.683 38,36.118 35.301,38 31.677,38 Z"
                    id="path1467"
                    style="fill: #ffffff"
                />
            </svg>
        </div>
    </div>
</div>
