// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
main {
    background-color: $bg-color;
    display: flex;
    flex-direction: column;
    color: $text-color;

    .main {
        height: 200vh;
        display: grid;
        grid-template-rows: 5rem auto;
        grid-template-columns: 5rem auto;
        grid-template-areas: "sidebar nav" "sidebar body";

        .body-grid {
            grid-area: body;
            display: flex;
            flex-direction: column;
            padding: 2em;

            .header {
                h2 {
                    animation: fadeIn 2s forwards;
                    animation-delay: 1200ms;
                    opacity: 0;
                    font-size: 5rem;
                    line-height: 1em;
                }

                h2:nth-of-type(2) {
                    animation-delay: 1400ms;
                }

                .header-underline {
                    width: 30em;
                    height: 2px;
                    background-color: white;
                    margin: 1em 0;
                    opacity: 0;
                    animation: dropIn 2s forwards;
                    animation-delay: 1800ms;
                }

                .header-button {
                    padding: 0.5em 2em;
                    background-color: $bg-color;
                    color: $text-color;
                    border: 2px solid white;
                    margin-bottom: 1em;
                    opacity: 0;
                    animation: dropIn 2s forwards;
                    animation-delay: 1600ms;

                    &:hover {
                        background-color: white;
                        color: $bg-color;
                        cursor: pointer;
                    }
                }
            }

            .main-body {
                height: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;

                .project-card {
                    width: 48%;
                    margin-bottom: 3em;
                    animation: fadeIn 2s forwards;
                    animation-delay: 2000ms;
                    opacity: 0;

                    .preview {
                        border: 1px solid white;
                        margin-bottom: 1em;

                        .img-wrapper {
                            overflow: hidden;
                            border: 1px solid white;

                            img {
                                transition: transform 500ms ease-in-out;
                                height: 20em;
                                width: 100%;
                            }

                            img:hover {
                                transform: scale(120%);
                            }
                        }

                        .button-row {
                            display: flex;
                            flex-direction: row;

                            button,
                            .card-button {
                                text-align: center;
                                width: 50%;
                                padding: 0.5em 2em;
                                background-color: $bg-color;
                                color: $text-color;
                                border: 1px solid white;

                                &:hover {
                                    background-color: white;
                                    color: $bg-color;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .details {
                        display: flex;
                        flex-direction: row;
                        padding: 0 1em;

                        .text {
                            h3 {
                                margin-bottom: 0.5em;
                            }
                        }

                        .tech-stack {
                            width: 25em;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-end;
                        }
                    }
                }
            }

            .footer {
                display: none;
            }
        }
    }
}

@keyframes expand {
    0% {
    }
    100% {
        opacity: 1;
        font-size: 5rem;
    }
}

@keyframes fadeIn {
    0% {
        transform: scale(80%);
        opacity: 0;
    }

    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

body::-webkit-scrollbar {
    width: 1em;
    background-color: $bg-color;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    /* outline: 1px solid slategrey; */
}

// @media (max-width: map.get($breakpoints, "small")) {
//     .bg {
//         background-color: aqua;
//     }
// };

@media (max-width: $large-screen) {
}

@media (max-width: $medium-screen) {
    nav {
        .logo {
            font-size: 1.5rem;
            border-right: 1px solid $border;
        }

        .navbar {
            ul {
                .contact,
                .cv {
                    a::after {
                        font-size: 1rem;
                    }
                }

                .cv {
                    #dl {
                        transform: translateY(2px);
                    }
                }
            }
        }
    }

    main {
        .main {
            width: 100%;
            grid-template-rows: 5rem auto 5rem;
            grid-template-columns: auto;
            grid-template-areas: "nav" "body" "footer";

            .body-grid {
                padding: 1em;
                padding-bottom: 0;

                .header {
                    h2 {
                        font-size: 3rem;
                    }

                    .header-underline {
                        width: 16em;
                    }
                }

                .main-body {
                    align-items: center;

                    .project-card {
                        width: 19em;

                        .preview {
                            .img-wrapper {
                                img {
                                    height: 10em;
                                }
                            }
                        }

                        .details {
                            .text {
                                h3 {
                                    font-size: 1.5rem;
                                }

                                p {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }

                .footer {
                    display: flex;
                    grid-area: footer;
                }
            }
        }
    }

    .sidenav {
        display: none;
    }

    @keyframes growContact {
        0% {
            width: 5rem;
        }
        100% {
            width: 14rem;
        }
    }

    @keyframes shrinkContact {
        0% {
            width: 14rem;
        }
        100% {
            width: 5rem;
        }
    }
}

@media (max-width: $small-screen) {
    nav {
        .logo {
            font-size: 1.5rem;
            border-right: 1px solid $border;
        }

        .navbar {
            ul {
                .contact,
                .cv {
                    a::after {
                        font-size: 1rem;
                    }
                }

                .cv {
                    #dl {
                        transform: translateY(2px);
                    }
                }
            }
        }
    }

    main {
        .main {
            width: 100%;
            grid-template-rows: 5rem auto 5rem;
            grid-template-columns: auto;
            grid-template-areas: "nav" "body" "footer";

            .body-grid {
                padding: 1em;
                padding-bottom: 0;

                .header {
                    h2 {
                        font-size: 3rem;
                    }

                    .header-underline {
                        width: 16em;
                    }
                }

                .main-body {
                    flex-direction: column;
                    align-items: center;

                    .project-card {
                        width: 20em;

                        .preview {
                            .img-wrapper {
                                img {
                                    height: 10em;
                                }
                            }
                        }

                        .details {
                            .text {
                                h3 {
                                    font-size: 1.5rem;
                                }

                                p {
                                    font-size: 1rem;
                                }
                            }
                        }
                    }
                }

                .footer {
                    display: flex;
                    grid-area: footer;
                }
            }
        }
    }

    .sidenav {
        display: none;
    }

    @keyframes growContact {
        0% {
            width: 5rem;
        }
        100% {
            width: 14rem;
        }
    }

    @keyframes shrinkContact {
        0% {
            width: 14rem;
        }
        100% {
            width: 5rem;
        }
    }
}
