<% layout('layouts/boilerplate') %>
<div class="main">
    <div class="body-grid">
        <div class="header">
            <h2>SCOTT COLLIER,</h2>
            <h2>WEB DEVELOPER</h2>
            <div class="header-underline"></div>
            <button class="header-button">About Me</button>
        </div>
        <div class="main-body">
            <%- include('partials/projectOne') %> <%-
            include('partials/projectTwo') %> <%-
            include('partials/projectThree') %> <%-
            include('partials/projectFour') %>
        </div>
    </div>
</div>
