.sidenav {
    border-right: 1px solid $border;
    height: 100%;
    width: 5rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    animation: slideRight 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 400ms;
    box-shadow: inset -4px 0 4px 0 $shadow, 4px 0 4px $shadow;
    z-index: 2;

    ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        width: 100%;

        li {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1em;
            border-top: 1px solid $border;
            animation: slideRight 2s;
            opacity: 0;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
            animation-delay: 600ms;
        }

        li:nth-of-type(2) {
            animation-delay: 1200ms;
        }

        #github-logo,
        #li-logo {
            fill: $text-color;
        }

        #li-logo {
            width: 28px;
            height: 28px;
        }

        #github-logo:hover,
        #li-logo:hover {
            fill: $hover;
            cursor: pointer;
        }
    }
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
